/*table {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid black;
    position: relative;
    left: 300px;
    top: 100px;
}

    table td {
        line-height: 25px;
        padding-left: 15px;
    }

    table th {
        background-color: #a6a6a4;
        color: #363636;
    }
*/